<span id="<%- url_for(page.path) %>" class="leancloud_visitors" data-flag-title="<%= post.title %>">
    <span class="post-meta-item-text">文章阅读量</span>
    <span class="leancloud-visitors-count">0</span>
    <p></p>
</span>
<div id="vcomments"></div>